
.add-button {
  height: 2.813rem;
  border-radius: 3px;
  border-color: #888;
  color: #fff;
  background-color: #2e90f0;
  width: 15.28%;
}

.add-book-form {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid #e8e8e8;
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.add-book-form h2 {
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
  margin-bottom: 20px;
  display: flex;
  padding-left: 7rem;
}

.form-input-fields {
  gap: 10px;
  align-items: center;
  display: flex;
  padding-left: 6.3rem;
}

.form-input-fields input {
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
  padding-left: 1rem;
  width: 32.7vw;
}
